/* MenueToggel.css */
.menu-toggle {
  font-size: 2rem;
  background: none;
  border: none;
  color: var(--primary-green);
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: transform 0.2s ease, color 0.2s ease;
  z-index: 1001;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: var(--primary-green);
  transform: scale(1.1);
}

.menu-toggle:focus {
  outline: none;
}

@media (min-width: 769px) {
  .menu-toggle {
    display: none;
  }
}

@media (max-width: 900px) {
  .menu-toggle {
    display: block;
  }
}
