.back-to-top {
  position: fixed;
  bottom: 32px;
  right: 32px;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  background-color: #299725;
  color: white;
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.8);
}

.back-to-top.show {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  animation: pulse 2s infinite;
}

.back-to-top:hover {
  background-color: #184d0d;
  transform: scale(1.1);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(55, 236, 5, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(13, 110, 253, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(13, 110, 253, 0);
  }
}
@media (max-width: 500px) {
  .back-to-top {
    display: none;
  }
}
